Source: toggle-decorations
Section: X11
Priority: optional
Maintainer: Jordi Pujol <jordi-pujol@telefonica.net>
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
 bash, dash,
 libx11-dev,
Build-Depends-Indep:
 debhelper (>= 9),
 devscripts,
Rules-Requires-Root: no
Standards-Version: 4.5.1

Package: toggle-decorations
Architecture: any
Description: Toggle window decorations.
Depends: ${misc:Depends},
